<h1 class="text-3xl font-bold">
  Ohanami Scoring App
</h1>

<table class="border-separate border border-slate-400">
  <thead>
  <tr>
    <th colspan="2">Rounds</th>
    <th>Player 1</th>
    <th>Player 2</th>
    <th>Player 3</th>
    <th>Player 4</th>
  </tr>
  </thead>
  <tbody>
  <ng-container *ngFor="let dummy of ' '.repeat(3).split(''), let outer = index">
    <ng-container *ngFor="let round of roundsConfig, let inner = index">
      <tr *ngIf="round.usedInRounds.includes(outer)">
        <td *ngIf="inner === 0" [attr.rowspan]="outer + 1" class="font-serif font-bold text-2xl">{{outer + 1}}.</td>
        <td *ngIf="round.nonLinearMultiplier !== undefined" [attr.rowspan]="outer + 1" class="font-serif font-bold text-2xl"></td>
        <td>
          <app-row-header [roundNumber]="1"
                          [multiplier]="round.linearMultiplier"
                          [iconType]="round.iconType"></app-row-header>
        </td>
        <td class="border border-slate-300"></td>
        <td class="border border-slate-300"></td>
        <td class="border border-slate-300"></td>
        <td class="border border-slate-300"></td>
      </tr>
    </ng-container>
  </ng-container>
  </tbody>
</table>

