<h1 class="text-3xl font-bold text-center pt-2">
  Ohanami Scoring App
</h1>

<div class="container grid grid-cols-5 gap-1 p-1 pt-8">
  <app-player-names-row class="col-span-5"></app-player-names-row>

  <ng-container
    *ngFor="let dummy of ' '.repeat(3).split(''), let roundIndex = index">
    <hr class="col-span-5"/>
    <p class="col-span-5 font-serif font-bold text-sm pr-2">{{roundIndex + 1}}
      Round</p>
    <hr class="col-span-5"/>
    <ng-container *ngFor="let round of roundsConfig">
      <ng-container *ngIf="round.usedInRounds.includes(roundIndex)">
        <app-row-header [roundNumber]="1"
                        [multiplier]="round.linearMultiplier"
                        [iconType]="round.iconType"></app-row-header>
        <ng-container
          *ngFor="let dummy of ' '.repeat(4).split(''), let playerIndex = index">
          <app-score-input
            (scoreChange)="onScoreChange($event, playerIndex, roundIndex, round)"></app-score-input>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <hr class="col-span-5"/>
  <app-scores-row class="col-span-5"></app-scores-row>
</div>

<app-flower-points></app-flower-points>
