<h1 class="text-3xl font-bold text-center pt-2">
  Ohanami Scoring App
</h1>

<div class="container grid grid-cols-5 gap-1 p-1 pt-8">
  <p></p>
  <ng-container
    *ngFor="let dummy of ' '.repeat(4).split(''), let i = index">
    <app-player-name-input [playerIndex]="i" (nameChange)="onPlayerNameChange($event, i)"></app-player-name-input>
  </ng-container>

  <ng-container
    *ngFor="let dummy of ' '.repeat(3).split(''), let roundIndex = index">
    <hr class="col-span-5"/>
    <p class="col-span-5 font-serif font-bold text-sm pr-2">{{roundIndex + 1}}
      Round</p>
    <hr class="col-span-5"/>
    <ng-container *ngFor="let round of roundsConfig, let iconTypeIndex = index">
      <ng-container *ngIf="round.usedInRounds.includes(roundIndex)">
        <div>
          <app-row-header [roundNumber]="1"
                          [multiplier]="round.linearMultiplier"
                          [iconType]="round.iconType"></app-row-header>
        </div>
        <ng-container
          *ngFor="let dummy of ' '.repeat(4).split(''), let playerIndex = index">
          <app-score-input (scoreChange)="onScoreChange($event, playerIndex, roundIndex, round)"></app-score-input>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>

  <hr class="col-span-5"/>
  <p class="font-serif font-bold text-2xl pr-2 text-right">&Sigma;</p>
  <ng-container
    *ngFor="let dummy of ' '.repeat(4).split(''), let i = index">
    <app-score-input [isReadonly]="true" [scoreValue]="getPlayerTotalScore(i)"></app-score-input>
  </ng-container>
</div>
