.blue-droplet {
  color: #005eff;
  border-color: #005eff;
}

.green-leaf {
  color: #18cd24;
  border-color: #18cd24;
}

.grey-cloud {
  color: #8b8e92;
  border-color: #8b8e92;
}

.pink-flower {
  color: #d881df;
  border-color: #d881df;
}

.icon-container {
  width: 40px;
  border-width: 1px;
  padding: 6px 0 6px 0;
  border-radius: 20%;
  display: flex;
  justify-content: center;
}
